.footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.footer>hr{
    position: absolute;
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--lightgrey);
    margin-top: -90px;
}
.footer>div>:nth-of-type(1){
    color: var(--lightgrey);
    font-size: 14px;
}
.footer>div>:nth-of-type(2){
    color: white;
    font-size: 16px;
}
.icons{
    display: flex;
    gap: 30px;
}
.icons>a>i{
    font-size: 25px;
    color: white;
}
.blur-f-1{
    margin-left: -400px;
    margin-top: -300px;
    width: 400px;
    height: 400px;
    filter: blur(180px);
}
.blur-f-2{
    margin-right: -400px;
    margin-top: -300px;
    width: 400px;
    height: 400px;
    filter: blur(180px);
}
@media screen and (max-width : 768px) {
    .footer{
        margin-top: -80px;
    }
    .footer>div>:nth-of-type(1){
        font-size: 12px;
    }
    .footer>div>:nth-of-type(2){
        font-size: 14px;
    }
    .icons>a>i{
        font-size: 20px;
    }
    .blur-f-1{
        margin-left: -110px;
        width: 150;
    }
    .blur-f-2{
        display: none;
    }
}